@charset "UTF-8";



/*NAVBAR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f0f0f0; }

html {
  scroll-behavior: smooth; }

.container a img {
  width: 50px; }


.nav-link {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none; }

.nav-link:hover {
  color: white;
  background-color: #bd0294; }

.navbar-brand {
  font-size: 1.25rem;
  font-weight: 800;
  color: rgb(167, 1, 189);
  cursor: pointer;
  text-decoration: none; }


.navbar-brand:hover{
  color: #8f2f6f;
}

  header {
    width: 100%;
    height: 575px;
    background: #b102a8;
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(298, 100%, 29%, 0)), url(../img/Magitronic1.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.card {
  border: none;
  outline: none;
  -webkit-box-shadow: -8px 6px 89px -65px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 6px 89px -65px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 6px 89px -65px rgba(0, 0, 0, 0.75); }
.img-fluid{
  border-radius: 8px;
}
.card p {
  color: gray; }

.circle {

  height: 70px;
  width: 70px;
  height: 70px;
  width: 70px;
  background-color: lightgray;
  color: black;
  padding: 12px;
  font-size: 30px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 20px; }

.card:hover .circle {
  background-color: #8f2f6f;
  color: white;
  transition: 0.5s; }

/*main section*/
header .textos-header{
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.boton5 {
  color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  padding-top: 10px;
  background: #b400a5;
  position: relative;
  border: 2px solid #96017d;
  outline: 1px solid;
  outline-color: rgba(151, 0, 156, 0.4);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.boton5:hover {
  box-shadow: inset 0 0 20px #b400a5, 0 0 20px #96017d;
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff; 
}
button a{
  text-decoration: none;
  color: #eeeeee;
}
button a:hover{
  color: #000000;
}
.card-ofertas:hover {
  border: 1px solid #eeeeee;
  transition: 0.5s; }

.card-ofertas {
  border: none;
  outline: none;
  padding-bottom: 10px;
  -webkit-box-shadow: -8px 6px 89px -65px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 6px 89px -65px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 6px 89px -65px rgba(0, 0, 0, 0.75); }

.card-ofertas p {
  color: rgba(187, 0, 156, 0.692); }

.circle {
  height: 70px;
  width: 70px;
  background-color: lightgray;
  color: #b33288;
  padding: 12px;
  font-size: 30px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 20px; }

.card-portafolio:hover .circle {
  background-color: #9c177f;
  color: white;
  transition: 0.5s; }


/*Contactos*/
.circle:hover {
  background-color: #a51a8e;
  transition: 0.4s;
  color: white; }

.contact .btn3 {
  background-color: #99126c;
  color: white;
  outline: none;
  border: none;
  height: 40px;
  width: 140px;
  border-radius: 4px; }
.contacto-link{
  text-decoration: none;
  color: #740862;
}
.contacto-link:hover{
  color: #b33288;
}
.btn3:hover {
  background: white;
  color: #800b62;
  transition: 0.4s;
  border: 1px solid #740862; }

#email-1 {
  opacity: 0; }


#videos {
  justify-content: center; }



/*Categorias */
a:link {
  text-decoration: none;
 }

img {
  width: 100%; }



/*Footer*/
footer {
    background: linear-gradient( hsl(0, 0%, 0%), hsl(298, 100%, 29%));
}

.link-footer{
    text-decoration: none;
    color: white;
}
.link-footer:hover {
  color: rgb(136, 20, 136);
  text-align: center;
}
.footer-copyright{
  color: white;
}

.text-uppercase{
  color: white;
  margin-left: 10px;
}
.img-footer{
  width: 30%;
  
}

@media screen and (max-width:900px){
  header{
      background-position: center;
      width: 100%; 
      
      
  }

  .img-footer{
    width: 100%;
  }
}
@media screen and (max-width:500px){
  header{
    background-position: center;
    width: 100%;
    
  }
}
