/*NAVBAR */

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(240, 240, 240);
}
html{
    scroll-behavior:smooth;
}
.container a img{
    width:50px;
}

navbar{
    background-color: rgb(0, 0, 0);
}

.nav-link {
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}
.nav-link:hover {
    color: white;
    background-color: rgb(189, 2, 148);
}
.navbar-brand{
    font-size: 1.25rem;
    font-weight: 800;
    color: black;
    cursor: pointer;
    text-decoration: none;
}